# python
.venv/
*.egg-info/
__pycache__

# js, build
node_modules/
build/
dist/

# jatos
jatos_mac_java/*
!jatos_mac_java/study_assets_root/
*.jzip

# tokens
.env

# etc
.DS_Store
.vscode/
data/
stats/
demodata/
original_files/
temp/
processed/
zulu-transcription.jzip
raw_data.zip